<h1>Help</h1>
<p>
  Get help on Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Ruby on Rails Tutorial help page</a>.
  <br>
  To get help on this sample app, see the  
  <a href="http://rubytutorial.org/book">Ruby on Rails book</a>.
</p>
