<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li> 
      <li><a href="http://www.railstutorial.org/">Rails Tutorial</a></li> 
    </ul>
  </nav> 
</footer>
